.form-wrapper {
    width: 80%;
    max-width: 732px;
    margin: auto;
}

.form-control {
    line-height: 2.5 !important;
    background-color: #F4F5F6;
}

.mb-3 {
    margin-bottom: 0rem !important;
}

.up_shift {
    /* position: absolute;
    bottom: 50vh;
    left: 0; */
    margin-top: 60px;
}

#loginForm .form-control:focus {
    box-shadow: none;
}