.loc-div {
    margin-top: 0.625rem;
    margin-bottom: 2.5rem;
}

.body-wrapper {
    max-width: 900px;
    height: 75vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .reserve-button-container {
    position: fixed;
    bottom: 7vh;
} */