.back-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 40px;
    margin-top: 3rem;
    margin-left: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #353945;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-btn-padding-x: 0;
}