.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* height: 100vh; */

}

.reserve-button-container {
    /* position: fixed; */
    bottom: 7vh;
    left: 0;
}