
.rounded-table {    
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    /* Adjust the radius as needed */
    overflow: hidden;
    /* To ensure the rounded corners are visible */
}

.car-plate {
    font-size: 1.1rem;
    font-weight: 600;
}

.loc-list-tr {
    height: 2rem;
    border-color: transparent;
}

.block-container {
    width: 85%;
    background: #F4F5F6;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.table > :not(caption) > * > * {
    background: transparent;
}

.col {
    padding-top: 10px;
    padding-left: 20px;
}