/** 1rem = 16px */

.header-nav .navbar-brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 6vw;
    gap: 0.75rem;
    min-height: 13vh;
}

.home-nav {
    font-size: 1rem;
    font-family: "DM", "Sans";
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    display: flex;
    align-items: center;
    max-width: fit-content;
    min-height: 2.3rem;
    width: 15vw;
    text-wrap: wrap;
}

.home-nav {
    font-size: 1rem;
    font-family: "DM", "Sans";
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    display: flex;
    align-items: center;
    max-width: fit-content;
    min-height: 2.3rem;
    width: 15vw;
    text-wrap: wrap;
}

.exit-btn {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-right: 1rem;
}

.close-btn {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-right: 0.625rem;
}

.header-modal .modal-content ul {
    position: relative;
    top: 3%;
    justify-content: center;
    gap: 1.25rem;
}

.header-modal .nav-link {
    color: #777E90;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    padding-left: 2.5rem;
}

/* TODO: Hover doesn't work on mobile */
.header-modal .nav-link:hover {
    color: black;
    border-left: black 0.1875rem solid;
}
