.header-nav .navbar-brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    min-height: 110px;
}

.home-nav {
    font-size: 16px;
    font-family: "DM", "Sans";
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.exit-btn {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}