.loc-div {
    max-width: 100%;
    padding: 0;
}

.location {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.location-col {
    padding: 0;
}

.now-location {
    font-family: Poppins, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0;
    text-align: left;
    width: 100%;
    height: 40px;
    background-color: #F7F7F7 !important;
    justify-content: left;
    padding-left: 1rem;
}

.hint-span {
    font-family: Poppins;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0;
    text-align: left;
    color: #4d5358;
    margin-left: 0.3125rem;
}

.target-icon {
    margin-left: 0.625rem;
}

.map-icon {
    width: 2.75rem;
    height: 2.5rem;
}

.map-icon-col {
    /* display: flex;
    justify-content: right; */
    /* padding: 0; */
    padding-left: 0.5rem;
}