.count-span {
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0px;
    margin-right: 5px;
}

.name-td {
    width: 70%;
}

.remain-td {
    width: 30%;
    text-align: right;
}

.loc-list-tr {
    height: 50px;
}

.loc-list-tr * {
    vertical-align: middle;
}

.disable-icon {
    margin-left: 5px;
    color: rgb(146, 146, 146);
}

/* .loc-list-col {
    max-height: 300px;
} */

/* .loc-list-table {
    max-height: 300px;
} */

/* TODO: Add Scrollbar */