.loc-div {
    margin-top: 10px;
    margin-bottom: 40px;
}

.location {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
}

.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.location-col {
    padding: 0px;
}

.now-location {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
    height: 40px;
    background-color: #F7F7F7 !important;
    justify-content: left;
    padding-left: 15px;
}

.hint-span {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #4d5358;
    margin-left: 5px;
}

.target-icon {
    margin-left: 10px;
}

.map-icon-col {
    padding-left: 20px;
}

.map-icon {
    width: 44px;
    height: 40px;
}