/* .MapWrapper * {
    height: 100vh;
    width: 100vw;
    overflow: visible !important;
} */

/* .mapContainer * {
    height: 100%;
    width: 100%;
    overflow: visible !important;
} */

/* .GoogleApiWrapper * {
    height: 100%;
    width: 100%;
    overflow: visible !important;
} */

/* * {
    overflow: visible;
} */

.markerContainerOuter {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: rgba(244, 211, 94, 0.5);
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.markerContainerInner {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #F4D35E;
    
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedPKLotOuter {
    background-color: rgba(216, 59, 54, 0.5) !important;
}
.selectedPKLotInner {
    background-color: #D83B36 !important;
}