.wrap-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parking-status {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid #ddd;
    background-color: #f9f9f9; */
    padding: 0.6rem;
    margin: 0.6rem;
    margin-bottom: 5vh;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
}

.keys-container,
.values-container {
    height: 20vh;
    color: #141416;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-key {
    font-weight: 500;
    font-size: 0.75rem;
}

.item-value {
    font-weight: 500;
    font-size: 0.9rem;
}

.loc-list-tr {
    height: 3.125rem;
    border-color: transparent;
}