.reserve-button-container {
    position: fixed;
    bottom: 20%;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    display: inline-flex;
}

.reserve-button-container .row {
    width: 100%;
    max-width: 100%;
}

.reserve-button {
    border-radius: 100px;
    font-size: 18px;
    width: 100%;
    height: 50px;
}