.DashBoard-Header {
    margin-bottom: 2vh;
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px;
    height: 110px;
    background-color: #fff;
}

.DashBoard-Title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    width: 65%;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    position: relative;
}

.DashBoard-Subtitle {
    width: 100px;
    text-align: right;
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.AnalysisImg{
    width: 70%;
    height: 70%;
    margin-bottom: 0.25rem;
    max-width: 100%;
    overflow: auto;
}

.DashBoard-Title svg {
    width: 42px;
    height: 42px;
    margin-right: 5px;
    margin-bottom: 0.25rem;
    max-width: 100%;
    overflow: auto;
}

.DashBoard-Subtitle svg {
    width: 22%;
    height: 22%;
    margin-bottom: 0.25rem;
    max-width: 100%;
    overflow: auto;
}