
.parked {
    background-color: #FFD700;
    color: #FFFFFF;
    text-align: center;
    width: 80%;
    height: 70%;
    border-radius: 10px;
}

.approaching {
    background-color: #FEFADF;
    border: #FFD700 2px solid;
    color: #FFD700;
    text-align: center;
    width: 80%;
    height: 70%;
    border-radius: 10px;
}

.lots-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
}

.grid-item {
    border: 0.1px solid #A3A3A4;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.grid-item > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item img {
    width: 70%;
    height: 70%;
}

.grid-item:nth-child(odd) {
    border-left: none;
}

.grid-item:nth-child(even) {
    border-right: none;
}