name: test_node_action

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - run: cd frontend
      - run: npm install && npm install --only=dev
      - run: npm run build --if-present
      - run: npm test